@font-face {
  font-family: TaipeiSansTC;
  src: url(/fonts/TaipeiSansTCBeta-Regular.ttf);
}

@font-face {
  font-family: homefont;
  src: url(/fonts/Timberline.ttf);
}

* {
  box-sizing: border-box;
  font-family: "TaipeiSansTC" !important;
}
i {
  font-family: "Icons" !important;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.15rem;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: rgb(97, 97, 95);
}

.intro {
  margin-top: 3rem;
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 1200px;
  }
}
